.total{
	width:900px;
	margin: 0 auto;
	border:1px solid #666;
}
.topo{
	height:200px;
	width:100%;
	margin:10px auto;
	border:1px solid #666;
}
.menu_principal{
	margin:50px auto;
	width:800px;
}
.menu_principal ul{
	list-style:none;
}
.menu_principal ul li{
	display: inline-block;
	width:200px;
	height:100px;
	margin-left:10px;
	margin-bottom:10px;
	border:1px solid #6EEEEE;
	background-color: #6E8DE0;
	border-radius:5px;
	vertical-align:middle;
	box-shadow:2px 2px 2px #666;
}
.menu_principal ul li span{
	float:left;
	vertical-align:middle;
	border-top:1px solid #666;
	text-align:left;
	height: 20px;
	margin-left:5px;
	width:90%;	
}
.imagem{
	height: 70px;
	float:left;
	margin-bottom: 5px;
	width:100%;
	background-color: transparent;	
}